body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient(to top left, #5433ff, #20bdff, #a5fecb) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.logo img {
    max-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links ul {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: lightgrey;
}

h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    cursor: default;
}

.notes {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.note {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
    cursor: default;
}

p {
    font-size: 16px;
    cursor: default;
}

.edit-button {
    background-color: #20bdff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
    background-color: #5433ff;
}

h3 {
    cursor: default;
}